<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Date time:</b>
  <%= @event.date_time.to_s(:event_time) %>
</p>

<p>
  <b>Description:</b>
  <%= @event.food %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<%= gmaps("map_options" => {'auto_zoom' => false, "zoom" => 16}, "markers" => { "data" => @event_json }) %>
<%= link_to 'Back', events_path %>
