<!DOCTYPE html>
<html>
<head>
  <title>Tappa Kegg <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="assets/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/stylesheets/docs.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<%=yield %>
</body>
<%= yield :scripts %>
<% content_for :scripts do %>
<script>

var counter = 0;

Gmaps4Rails.callback = function() {
  if (counter == 0){
    counter += 1;
    <%=   { "map_options" => {  
                          "container_id" => "second_container", "id" => "second_map",
                          "type" => "SATELLITE", "center_longitude" => 180, "zoom" => 3, "auto_adjust" => true 
                          },
            "markers"     => { "data" => @json }
          }.to_gmaps4rails.html_safe
    %>
   }
};
<script>
<% end %>
</html>
